.wrapper {
  max-width: 490px;
  width: 100%;
  margin: 30px auto;
}
*{
  font-family: "Bambino-Light", sans-serif;
}
.wrapper h2 {
  font-family: "Bambino-Black", sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin: 0;
}
.wrapper h3 {
  margin: 0 0 18px 0;
  font-size: 23px;
  font-weight: 700;
  font-family: "Bambino-Black", sans-serif;
}

.cards {
  margin-top: 0px;
  align-items: center;
  display: flex;
  margin-left: 4px;
}

.active {
  border: solid;
  border-radius: 1px;
  border-color: #005dff;
}

.card-add {
  margin-left: 20px;
  max-width: 114px;
  width: 100%;
  text-align: center;
}
.card-add img {
  padding: 5px 0 0 0;
  width: 25px;
}
.card-add__wrap {
  background-color: #ebeeef;
  padding: 9px 0;
  margin: 4px;
  border-radius: 3px;
}
.card-add p {
  padding-bottom: 10px;
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.8;
  line-height: 8px;
}

.sber {
  background-color: #13a024;
}

.card-bind {
  max-width: 110px;
  width: 100%;
}
.card-bind__img {
  display: flex;
  justify-content: space-between;
  padding: 5px 7px 0 7px;
}
.card-bind__wrap {
  border-radius: 3px;
  margin: 4px;
}
.card-bind__logo {
  margin-top: 3px;
  max-width: 13px;
  width: 100%;
  height: 13px;
}
.card-bind__name {
  max-width: 40px;
  width: 100%;
}
.card-bind__text {
  margin: 5px 0 0 7px;
  padding-bottom: 7px;
}
.card-bind__text p {
  padding-bottom: 3px;
}
.card-bind__text p:last-child {
  padding-bottom: 0;
}
.card-bind p {
  color: white;
  margin: 0;
  line-height: 12px;
  font-weight: 400;
  font-size: 13px;
  opacity: 0.8;
}

.card {
  margin: 22px 0 0 0;
  border-radius: 3px;
}
.card__front {
  background-color: #13a024;
  z-index: 1;
  max-width: 295px;
  border-radius: 3px;
  width: 100%;
  padding: 20px 19px 0 19px;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
  
}
.card__num{
width: 100%;
margin: 15px  0;
}
.card__digit {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 5px;
}
.card__date-st {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 10px 0 0 0;

}
.card__date-dt{
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
  padding:15px 0 0 0;
}
.card__banks{
  display: flex;
  justify-content: space-between;
}
.card__banks img{
  max-width: 80px;
  width: 100%;
  object-fit: contain;
}
.card__banks img:first-child{
  max-width: 180px;
  width: 100%;
  
  object-fit: contain;
}
.card__wrapper{
  display: flex;
}
.card__back {
  border: 3px;
  background-color: #ebeeef;
  max-width: 150px;
  width: 100%;
  height: 205px;
}
.card__back-line {
  background-color: #d7dce1;
  margin-top: 22px;
  width: 100%;
  height: 42px;
}


.card__button {
  margin: 22px 4px 0 0;
}
.card__button button {
  height: 59px;
  font-family: "Bambino-Bold", sans-serif;
  font-weight: 800;
  font-size: 14px;
  background-color: #005dff;
  color: #fff;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}



.vefifed {
  width: 100%;
  display: flex;
}
.vefifed img {
  max-width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.2;
  margin-right: 30px;
}


@media (max-width: 465px) {
  .card__back {
    display: none;
  }
  .card__front {
    max-width: 310px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .card__wrapper {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2, auto);
  }
  .card__banks img {
    box-sizing: border-box;
    max-width: 60px;

  }
  .card__banks img:first-child {
    box-sizing: border-box;
    max-width: 130px;
    
  }
}
/*# sourceMappingURL=index.css.map */